<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments :: head"></div>
		<title>Best of 2021</title>
	</head>
	<header>
	<nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid justify-content-start w-75">
            <a class=" navbar-brand " th:href="@{'/'}">Best of 2021</a>
            <a class="btn btn-secondary  me-2 "th:href="@{/movies}">Movies</a>
            <a class="btn btn-secondary  " th:href="@{/songs}">Songs</a>
        </div>
	</nav>
	</header>
	<body>
		<h1 th:text="|Best of 2021 by ${author}|" class = "text-center"></h1>
		<img class "text-center"alt="logo" th:src="@{/img/2021.png}" /> 
		<div th:replace="fragments :: scripts"></div>
	</body>
</html>